{% extends "products/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Pinocchio's Pizza & Subs" %}
{% endblock %}

{% block body %}

{% include "products/navbar.html" %}

<div class="container py-5">

  <h3 style="text-align: center">{% trans "Menu" %}</h3>

  <div class="card-deck">
    {% for kind in kinds %}
      <a href="{% url 'kinds' kind.slug %}" class="card my-3" style="min-width: 25rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title"> {{ kind }} </h5>
          <p class="card-text">{{ kind.description }}</p>
        </div>
      </a>
    {% empty %}
    <h4> No kinds </h4>
    {% endfor %}
  </div>

</div>
{% endblock %}